<div *ngIf="questions" class="component-container-content">
  <div class="table-responsive">
    <table class="table" style="color: rgb(201, 197, 192)">
      <thead>
        <tr>
          <th>Id</th>
          <th>Content</th>
          <th>Answer</th>
          <th>Reward</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let question of questions"
          [class.selected-question]="isSelectedQuestion(question.questionId)"
        >
          <td>
            {{ question.questionId }}
          </td>
          <td>{{ question.content.questionText || "blob image" }}</td>
          <td>{{ question.answer.answerContent }}</td>
          <td>{{ question.questionReward }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
