<div class="session-lobby">
  <div class="session-lobby-table">
    <table class="table" style="color: rgb(201, 197, 192)">
      <thead>
        <tr>
          <th>User id</th>
          <th>User Name</th>
          <th *ngIf="isHost"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sessionPlayer of sessionPlayers">
          <td>
            {{ sessionPlayer.id }}
          </td>
          <td>
            {{ sessionPlayer.nickName }}
          </td>
          <td *ngIf="isHost">
            <button mar-icon-button (click)="removePlayer(sessionPlayer.id)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-container">
    <div class="session-lobby-action">
      <button class="common-button" (click)="leaveLobby(false)">Leave</button>
    </div>
    <div class="session-lobby-action">
      <button *ngIf="isHost" class="common-button" (click)="startQuiz()">
        Start Game
      </button>
    </div>
  </div>
</div>
