<div class="session-lobby">
  <div class="session-lobby-table">
    <table class="table" style="color: rgb(201, 197, 192)">
      <thead>
        <tr>
          <th>User id</th>
          <th>User Name</th>
          <th *ngIf="isHost"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sessionPlayer of sessionPlayers">
          <td [class.current-user]="sessionPlayer.id === currentPlayer?.id">
            {{ sessionPlayer.id }}
          </td>
          <td [class.current-user]="sessionPlayer.id === currentPlayer?.id">
            {{ sessionPlayer.nickName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-container session-lobby-container">
    <div class="session-lobby-action">
      <button class="common-button" (click)="leaveLobby()">Leave</button>
    </div>
    <div class="session-lobby-action">
      <button *ngIf="isHost" class="common-button" (click)="startQuiz()">
        Start Game
      </button>
    </div>
  </div>
</div>
