<div class="home-page">
    <div class="menu-container">
            <div class="menu-container-item">
                <button class="common-button menu-button" (click)="OnCreateSessionClick()">Create session</button>
            </div>
            <div class="menu-container-item">
                <button class="common-button menu-button" (click)="OnJoinToSessionClick()">Join to existing session</button>
            </div>
    </div>
    <div *ngIf="errorMessage" class="error-container">
        <p class="error-message">{{errorMessage}}</p>
    </div>
</div>
