.home-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-container {
    margin-top: -200px;
    &-item {
      margin-top: 20px;
    }

    .menu-button {
      min-width: 220px;
      width: 100%;
      background-image: linear-gradient(to bottom right, #e2b052, 20%, #e46b08);
    }
  }
}
