@use "variables";

.validation-error-container {
  margin: 15px 5px;
  padding: 10px 5px;
  border-radius: 6px;
  background-color: rgba(253, 213, 213, 0.863);

  &-title {
    width: 100%;
    margin-bottom: 10px;
  }

  .validation-error {
    margin: 0;
  }
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
