@use "styles/button";
@use "styles/container";
@use "styles/control";
@use "styles/variables";

html,
body {
  height: 100%;
  color: rgb(201, 197, 192);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom right, #eb690c, 20%, #eb2a0c);
}
