@use "styles/button";
@use "styles/container";
@use "styles/control";
@use "styles/variables";

html,
body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom right, #eb690c, 20%, #eb2a0c);
}

app-root {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0;
}
