<div class="quiz">
  <div class="quiz-canvas">
    <canvas
      #canvas
      class="quiz-canvas-container"
      width="800"
      height="400"
    ></canvas>
  </div>
  <div
    class="buttons-container quiz-options-container--select"
    *ngIf="quizRound.question.questionType === QuestionType.Select"
  >
    <div
      *ngFor="
        let questionOption of quizRound.question.options;
        let index = index
      "
      [class]="'quiz-option__' + (index + 1)"
    >
      <button
        (click)="submitAnswer(questionOption)"
        [disabled]="isButtonDisabled"
        class="common-button quiz-option-button"
      >
        {{ questionOption }}
      </button>
    </div>
  </div>
  <div
    class="buttons-container quiz-options-container--type"
    *ngIf="quizRound.question.questionType === QuestionType.Type"
  >
    <input
      #quizInput
      class="common-input quiz-input"
      [disabled]="isButtonDisabled"
    />
    <button
      class="common-button quiz-submit-button"
      [disabled]="isButtonDisabled"
      (click)="submitAnswer(quizInput.value)"
    >
      Submit
    </button>
  </div>
</div>
