<div class="quiz">
  <div class="quiz-canvas">
    <canvas
      #canvas
      class="quiz-canvas-container"
      width="800"
      height="400"
    ></canvas>
  </div>
  <div
    class="buttons-container quiz-options-container--select"
    *ngIf="quizRound.questionContent.questionType === QuestionType.Select"
  >
    <div
      *ngFor="let questionOption of quizRound.questionContent.questionOptions"
      class="quiz-option"
      (click)="submitAnswer(questionOption)"
    >
      <p>{{ questionOption }}</p>
    </div>
  </div>
  <div
    class="buttons-container quiz-options-container--type"
    *ngIf="quizRound.questionContent.questionType === QuestionType.Type"
  >
    <input #quizInput class="common-input quiz-input" />
    <button class="quiz-submit-button" (click)="submitAnswer(quizInput.value)">
      Submit
    </button>
  </div>
</div>
