.quiz-host {
  max-width: 1000px;
  height: 100%;
  width: 100%;

  .mat-tab-label,
  .table {
    color: rgb(201, 197, 192);
  }

  &-tabs-container {
    min-height: 200px;
  }

  &-content {
    padding: 20px;
  }

  &-round-data {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;

    .question-content {
      width: 50%;
    }

    .question-progress-spinner {
      width: 50%;
    }
  }

  &-actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-action {
    margin: 10px;
  }
}
