.quiz-host {
  &-round-data {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .question-content {
      width: 50%;
    }

    .question-progress-spinner {
      width: 50%;
    }
  }

  &-tabs-container {
  }
}
