<div class="component-container quiz-host">
  <div class="component-container-content quiz-host-content">
    <div class="quiz-host-tabs-container">
      <mat-tab-group mat-align-tabs="start" [color]="'warm'">
        <mat-tab label="Leader Board"
          ><leader-board [sessionId]="quizData.sessionId"></leader-board
        ></mat-tab>
        <mat-tab label="Round Statistic"
          ><round-statistic [sessionId]="quizData.sessionId"></round-statistic
        ></mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="currentRound" class="quiz-host-round-data">
      <div class="quiz-host-round-question-content">
        <p>
          Question content:
          {{ currentRound.question.content.questionText || "Blob content" }}
        </p>
        <p>
          Question type:
          {{ currentRound.question.questionType | questionType }}
        </p>
        <p>
          Start at:
          {{
            currentRound.startAt
              ? (currentRound.startAt
                | dateFormatter: DateFormat.LocaleTimeString)
              : "Not started"
          }}
        </p>
        <p>
          End at:
          {{
            currentRound.endAt
              ? (currentRound.endAt
                | dateFormatter: DateFormat.LocaleTimeString)
              : "Not Started"
          }}
        </p>
      </div>
      <div
        class="quiz-host-round-timer"
        *ngIf="currentRound.startAt && currentRound.endAt"
      >
        <round-timer
          [startAt]="currentRound.startAt"
          [endAt]="currentRound.endAt"
        ></round-timer>
      </div>
    </div>
    <div class="quiz-host-actions-container">
      <div class="quiz-host-action">
        <button
          class="common-button"
          [disabled]="
            isRoundButtonsDisabled || sessionState === SessionState.Round
          "
          (click)="startRound()"
        >
          Start Round
        </button>
      </div>
      <div class="quiz-host-action">
        <button
          class="common-button"
          [disabled]="
            isRoundButtonsDisabled || this.quizQuestions?.length === 1
          "
          (click)="nextRound()"
        >
          Next round
        </button>
      </div>
      <div class="quiz-host-action">
        <button
          class="common-button"
          [disabled]="isRoundButtonsDisabled"
          (click)="closeSession()"
        >
          Close session
        </button>
      </div>
      <div class="quiz-host-action">
        <button
          class="common-button"
          [disabled]="
            isRoundButtonsDisabled ||
            sessionState === SessionState.RoundStatistic
          "
          (click)="showStatistic()"
        >
          Show Statistic
        </button>
      </div>
      <div class="quiz-host-action">
        <button
          class="common-button"
          [disabled]="
            isRoundButtonsDisabled || sessionState === SessionState.LeaderBoard
          "
          (click)="showLeaderBoard()"
        >
          Show Leader Board
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="quizQuestions" class="quiz-host-content">
    <question-list
      [questions]="quizQuestions"
      [selectedQuestionId]="currentRound.question.questionId"
    ></question-list>
  </div>
</div>
