.create-account {
  background-color: transparent;
  height: 100%;

  &-error-container {
    background-color: rgb(212, 31, 31);
    border-radius: 8px;
    margin-top: 150px;

    .validation-error {
      font-size: large;
      padding: 15px;
    }
  }

  &-controls-container {
    display: flex;
    justify-content: space-between;
  }
}
