.question-editor {
    &-header {
        text-align: center;
    }

    &-default-container {
        margin-top: 10px;
        border-radius: 8px;
        background-color: rgba(194, 149, 0, 0.849);
    }
}